* {
  margin: 0px;
  padding: 0px;
}

.con {
  border: 1px solid grey;
  height: 2000px;
}

header {
  position: -webkit-sticky; /* 사파리 브라우저 지원 */
  position: sticky;
  top: 0px;
  background-color: tomato;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
